@import "../../config.scss";

.wrapper {
  background: $background-red;
  display: flex;
  justify-content: center;
  padding: 15px 15px 10px;

  .innerWrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    .logo {
      width: 273.61px;
      height: 165px;
    }

    .content {
      color: $text-white;
      font-family: Oswald, sans-serif;
      font-weight: 400;
      gap: 8px;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-end;

      .callUs {
        font-size: 20px;
        margin-right: 4px;
      }

      .contactPhone {
        font-size: 30px;
      }

      .address {
        font-size: 14px;
      }

      .nav {
        display: flex;

        .navLink {
          display: block;
          color: $text-white;
          text-decoration: none;
          font-size: 16px;
          font-weight: 400;
          padding: 20px 15px;
        }

        .navLinkActive {
          background: $background-dark-blue;
        }
      }
    }
  }
}
