@import "../../../../config";

.wrapper {
  background-image: url("../../../../images/image_3.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .innerWrapper {
    padding: 30px;
    background: rgb(255, 35, 23);
    background: linear-gradient(90deg, rgba(255, 35, 23, 1) 60%, rgba(9, 9, 121, 0) 100%);
    display: flex;
    justify-content: center;
  }

  .content {
    border: 1px solid $border-white2;
    padding: 16px 32px 24px 24px;
    color: $text-white;

    .title {
      font-size: 30px;
      font-family: Oswald, sans-serif;
    }

    .text {
      margin: 24px 0 16px;
      font-family: 'Open Sans', sans-serif;
    }

    .bold {
      font-weight: 700;
    }
  }
}
