@import "../../../../config";

.wrapper {
  border-top: 8px solid $border-dark-blue;
  display: flex;
  justify-content: center;

  .content {
    padding: 40px 0 32px;
    .title {
      color: $text-red;
      margin-bottom: 24px;
      font-size: 36px;
      font-family: Oswald, sans-serif;
    }

    .titleBorder {
      width: 115px;
      height: 4px;
      background: $background-red;
    }

    .innerContent {
      margin-top: 48px;
      display: flex;
      justify-content: space-between;

      .text {
        .bold {
          font-weight: 700;
        }

        .list {
          margin: 32px 0 0 42px;
          font-weight: 700;
          display: flex;
          flex-direction: column;
          gap: 4px;
        }
      }

      .images {
        margin-left: 56px;
        width: 220px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .image {
          border: 1px solid $border-gray;
          border-radius: 10px;
        }
      }
    }
  }
}
