// COLORS
$text-white: #ECECEC;
$text-black: #000000;
$text-red: #FF2317;
$text-dark-gray: #333333;
$text-gray: #757575;
$text-light-gray: #CCCCCC;
$text-yellow: #ff8602;

$background-white: #FFFFFF;
$background-light: #F5F5F5;
$background-black: #000000;
$background-black2: #000000E5;
$background-red: #FF2317;
$background-dark-red: #E43340;
$background-dark-gray: #333333;
$background-dark-blue: #0C2B6C;
$background-blue: #1877F2;
$background-blue2: #477CDF;

$border-red: #FF2317;
$border-light-gray: #CCCCCC;
$border-light:#E1E1E1;

$border-gray: #666666;
$border-white: #FFFFFF;
$border-white2: #ECECEC;
$border-black: #000000;
$border-dark-blue: #0C2B6C;

