@import "../../../../config";

.wrapper {
  position: relative;
  overflow: hidden;
  height: 660px;
  margin: 4px 0 8px;

  .carousel {
    position: absolute;
    height: 660px;

    & div[class='carousel carousel-slider'] {
      height: 100% !important;

      & div[class="slider-wrapper axis-horizontal"] {
        height: 100% !important;

        & ul[class='slider animated'] {
          height: 100% !important;
        }
      }
    }

    .img {
      height: 100%;
    }
  }

  .contentWrapper {
    display: flex;
    height: 660px;
    justify-content: center;
    align-items: center;
  }

  .content {
    background: $background-black;
    padding: 5px;

    .innerWrapper {
      border: 1px solid $border-white;
      padding: 12px;
      color: $text-white;
      font-size: 24px;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 2px;
      font-weight: 700;
      font-family: Play, sans-serif;

      .contactPhone {
        color: $text-primary;
      }
    }
  }
}
