@import "../../../../config";

.wrapper {
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: scroll;
  animation: 0s ease 0s 1 normal none running none;
  background-image: url("../../../../images/image_1.jpeg");
  opacity: 1;
  transition: opacity 0.75s ease-in-out 0s;
  height: 660px;
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    background: $background-black;
    padding: 5px;

    .innerWrapper {
      border: 1px solid $border-white;
      padding: 12px;
      color: $text-white;
      font-size: 24px;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 2px;
      font-weight: 700;

      .contactPhone {
        color: $text-red;
      }
    }
  }
}
